:root{
    --backgroud-color: #D9D9D9;
    --backgroud-header: #09253B;
    --backgroud-tags: #03131F;
    --text-color:#fff;
    --acordeon01-color:#39A3F7;
    --acordeon02-color:#6C2D95;
    --acordeon03-color:#92C737;
    --acordeon04-color:#ED3944;
    --acordeon05-color:#F07539;
}